/* Reset default gap */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "NBC Futura";
    src: url("NBCFuturaMedium.ttf") format("truetype");
}

body {
  background-color: #ffffff;
  padding-top: 140px;
}

/* Top bar */
.Bar {
  background-color: #153c7a;
  width: 100%;
  height: 100px;
  display: flex;

  position: fixed;   
  top: 0;            
  left: 0;            
  z-index: 999;   

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  transition: all 0.5s ease;
}

.Logo {
  padding-top: 15px;
  height: 85px;
  padding-left: 20px;
  align-content: center;

  transition: height 0.5s;
}

/* News-style title font */
.site-title,
.site-title span {
  color: "white";
  font-family: "NBC Futura", sans-serif;
  padding-top: 20px;
  padding-left: 5px;
  line-height: 1; 
  font-size: 30px;
}

.text {
  font-family: "NBC Futura", sans-serif;
  padding-top: 20px;
  padding-left: 10px;
  line-height: 1; 
  font-size: 15px;
}

/*Navigation Buttons*/
.Buttons{
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-left: 100px;
    padding-bottom: 10px;
    font-family: "NBC Futura", sans-serif;
    transition: transform 0.5s ease, color 0.5s ease;
    align-items: center;
}

.Buttons:first-child {
    margin-left: 20px;
}

.Buttons:last-child {
    margin-right: 20px;
}

.Button1:hover,
.Button2:hover,
.Button3:hover,
.Button4:hover,
.Button5:hover {
    background-color: transparent;
    color: rgb(54, 54, 54);
}

.Buttons a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.4s ease;
}

.Buttons a:hover {
    color: rgb(54, 54, 54);
}

body.scrolled .Buttons a {
    color: black;
}

body.scrolled .Buttons a:hover {
    color: rgb(96, 143, 255);
}

.Button1 {order: 1;}
.Button2 {order: 2;}
.Button3 {order: 3;}
.Button4 {order: 4;}
.Button5 {order: 5;}

.Buttons a {
    position: relative;
}

/* Active underline */
.Buttons a.active::after {
    content: "";
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    pointer-events: none;
}

/* When scrolled */
body.scrolled .Buttons a.active::after {
    background-color: black;
    transition: all 0.5s;
}



